
.mainLayout {
    width: 100%;
    height: var(--app-height);
    margin: 0;
    overflow: hidden;
    transition: all ease 0.5s;
    background-color: white;
    backdrop-filter: blur(12px);

    -webkit-backdrop-filter: blur(12px);
    position: relative;
}

.layoutContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
    position: relative;
    z-index: 1;
}

.childrenContainer {
    flex: 1;
    width: 100%;
    max-width: 75rem;
    overflow: hidden;
    margin: 0 auto;
    gap: 1.5rem;
}

.layoutBackground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    pointer-events: none;
}

.children {
    flex: 1;
    max-width: 75rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.themeContainer {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F0F0F2;
    border-radius: 0.5rem;
}

.backContainer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 0.875rem;
    padding: 0.5rem;
    border: 1px solid;
}