
.mainLayout {
    width: 100%;
    height: var(--app-height);
    margin: 0;
    overflow: hidden;
    transition: all ease 0.5s;
    background-color: white;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.layoutContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    max-width: 75rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
}

.childrenContainer {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.mainNavbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: sticky;
    z-index: 2;
    height: 76px;
    border-bottom: 1px solid;
}

.mainFooter {
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    position: static;
    bottom: 0;
    z-index: 99;
    border-top: 1px solid;
}

.themeContainer {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F0F0F2;
    border-radius: 0.5rem;
}

.backContainer {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 0.875rem;
    padding: 0.5rem;
    border: 1px solid;
}