html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --app-height: 100vh;
}

@supports (height: 100dvh) {
    :root {
        --app-height: 100dvh;
    }
}

* {
    box-sizing: border-box;
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
    outline: none;

    &::-webkit-scrollbar{
        background-color: transparent;
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 20px;
        &:hover {
            cursor: grab;
        }
    }
}

.cardActionArea {
    width: fit-content !important;
    border-radius: 0.875rem !important;
}

/* Override Next.js dev portal position (left/top from 0px to unset) */
nextjs-portal {
    left: unset;
    top: unset;
}
